/*文本黑幕效果*/
.shady {
    color:#669988;
    font-weight: bold;
    box-shadow: 0px -20px 0px #669988 inset; 
    transition: all 0.3s ease;
}
.shady:hover{
   font-weight: bold;
    color:#669988;
    box-shadow: 0px -20px 0px transparent inset; 
}
/*星星评级*/
i.star{
    color: #189988; /*星星的颜色*/
  }
  
  i.star-outline{
    color: hsl(149, 0%, 40%);/*空星星的颜色*/
  }
  
  i.star svg, i.star-outline svg{
    width: 20px;
    fill: currentColor;
}

/* 卡片样式*/
.mycard {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    word-break: break-all;
    background: #d2e5eb14;
    box-shadow: 0 6px 10px 0 #00000033;
    .content {
      line-height: 30px;
      padding-top: 10px;
    }
}

/*文字颜色渐变*/
.colorfulfont {
    background: linear-gradient(to right, rgb(35, 148, 111), #f69b13); /*第一个颜色代码是渐变起始色，第二个颜色代码是渐变结束色；*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

::selection {
    color: #85b8a7;
    background: #2a4f43d5;
}

/*重点标记*/
mark{
    background: #66998888;
}

/*颜色预览*/
.color-preview {
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 0; /* 可根据需要进行调整 */
    width: 10px;
    height: 10px
}
