$color-background: #93b5aa;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #666;
$color-meta: #274e13;
$color-meta-code: #666;
$color-link: rgba(212, 128, 170, 1);
$color-text: #2a4f43;
$color-accent-3: #3d6933;
$color-accent-2: #567b46;
$color-accent-1: #274e13;
$color-quote: #ff0000;
